@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  background-color: #252627;
}

* {
  font-family: 'Alata', sans-serif;
}

body {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

h3, p {
  color: #fff;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

header h3 {
  font-size: 32px;
  font-weight: 400;
}

.arrow-down {
  width: 100%;
  margin: 0 auto;
}

.arrow-down::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  margin: auto;
  top: 0px;
  right: 0;
  bottom: 0;
  left: 0px;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-animation: 3s arrow infinite ease;
          animation: 3s arrow infinite ease;
  z-index: 0;
}

@-webkit-keyframes arrow {
  0%, 100% {
    top: 350px;
  }
  50% {
    top: 380px;
  }
}

@keyframes arrow {
  0%, 100% {
    top: 350px;
  }
  50% {
    top: 380px;
  }
}

.cont_wrapper {
  width: 100%;
  height: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.containter_cont {
  height: 320px;
  width: 320px;
}

.cont_img {
  font-size: 60px;
  height: calc(320px / 2);
}

.cont_img i {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 90px 0;
}

.cont_name {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
  color: #fff;
}

.online {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: flex-start;
  position: relative;
  z-index: 2;
}

.online a {
  font-size: 24px;
  color: #252627;
  background: #fff;
  padding: 7px 9px;
  border-radius: 7px;
  height: 40px;
  width: 40px;
  -webkit-transition: .5s;
  transition: .5s;
}

.online .vote {
  margin-left: 20px;
  margin-right: 20px;
}

.online .vote:hover a {
  background: #5bde6f;
  color: #fff;
}

.online .vk:hover a {
  color: #fff;
  background: #4a5ccf;
}

.online .mail:hover a {
  color: #fff;
  background: #5167f0;
}

.cont_prof {
  color: #fff;
  text-align: center;
  margin-bottom: 33px;
}

.end {
  text-align: center;
  margin-top: 200px;
  margin-bottom: 20px;
}

.end a {
  color: #fff;
}

.overlay {
  display: none;
  height: calc(100vh + 333px + 220px);
  background-color: rgba(0, 0, 0, 0.54);
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 22;
}

.wrapper_pop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: -1;
  height: 100vh;
}

.popup {
  margin-top: 300px;
  min-width: calc(100% - 1200px);
  height: 320px;
  background: #fff;
}

.popup_title {
  height: 71px;
  background: #4a5ccf;
  color: #fff;
}

.popup_title i {
  font-size: 35px;
  margin: 15px 20px;
  justify-self: flex-start;
}

.popup_close {
  font-size: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #fff;
  margin-left: calc(100% - 20px - 20px);
  margin-top: -43px;
  width: 15px;
  justify-self: flex-start;
}

.popup_form {
  height: 250px;
}

.popup_form_header {
  margin-top: 40px;
  font-size: 15px;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 15px;
}

.wrapper_form {
  display: -ms-grid;
  display: grid;
  margin-left: calc(50% - 300px);
}

.popup-form__input {
  display: -ms-grid;
  display: grid;
  margin-right: 200px;
  margin-top: 5px;
  padding: 0 10px;
  width: 400px;
  height: calc(350px - 315px);
  border: 1px solid #000;
  margin-bottom: 5px;
  -ms-grid-column-align: center;
      justify-self: center;
}

.popup-form__btn {
  border-radius: 8px;
  background: #4a5ccf;
  padding: 10px;
  color: #fff;
  margin-left: 500px;
  position: relative;
  top: -70px;
  right: 40px;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */